<p id="notice"><%= notice %></p>
<h1>閲覧</h1>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>

  <% @property.sts.each do |prop| %>
<p>
  <strong>route_name:</strong>
  <%= prop.route_name %>
</p>

<p>
  <strong>route_name:</strong>
  <%= prop.station %>
</p>

<p>
<strong>route_name:</strong>
  <%= prop.minute %>
</p>
    <% end %>

<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
