<p id="notice"><%= notice %></p>
<h1>閲覧</h1>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>

<p>
  <strong>route_name:</strong>
  <% @property.sts.each do |prop| %>
  <%= prop.route_name %>
    <% end %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
